body {
  display: grid;
  grid-template-rows: 1fr 7fr 6fr;
  grid-template-columns: 2fr 5fr 2fr;
  height: 100vh;
  background-color: rgba(238, 235, 226, 0.7);
}

.title {
  background-color: yellow;
}

.eader {
  background-color: blue;
}

.empty {
  background-color: red;
}

.progress {
  background-color: aqua;
}

.content {
  background-color: blueviolet;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard .keyboard__frame {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  height: 90%;
  border: 2px solid rgba(153, 148, 127, 1);
  border-radius: 5px;
  padding: 10px 5px 0px 5px;
}

.keyboard .keyboard__frame .keyboard__frame__row1 {
  display: grid;
  grid-template-columns: repeat(13, 1fr) 1.5fr;
  gap: 5px;
  }

.keyboard .keyboard__frame .keyboard__frame__row2 {
  display: grid;
  grid-template-columns: 1.5fr repeat(13, 1fr);
  gap: 5px;
}

.keyboard .keyboard__frame .keyboard__frame__row3 {
  display: grid;
  grid-template-columns: 1.7fr repeat(11, 1fr) 1.7fr;
  gap: 5px;
}

.keyboard .keyboard__frame .keyboard__frame__row4 {
  display: grid;
  grid-template-columns: 2.2fr repeat(10, 1fr) 2.2fr;
  gap: 5px;
}

.keyboard .keyboard__frame .keyboard__frame__row5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3fr 20fr 3fr 1fr;
  gap: 5px;
}

.key {
  font-size: 15px;
  color: rgba(153, 148, 127, 1);
  border: 2px solid rgba(153, 148, 127, 1);
  border-radius: 3px;
  height: 45px;
}

.normal_key {
  width: 47px;
}

.left-hand {
  background-color: orange;
}

.right-hand {
  background-color: white;
}

